In [6]:
ls

Untitled.ipynb                      outlier_cleaner_alf.pyc
enron_outliers.py                   outlier_removal_regression.py
enron_outliers_alf1.py              outlier_removal_regression_alf.py
outlier_cleaner.py                  outlier_removal_regression_alf2.py
outlier_cleaner.pyc                 practice_outliers_ages.pkl
outlier_cleaner_alf.py              practice_outliers_net_worths.pkl

In [3]:
run outlier_removal_regression_alf.py

[[ 5.07793064]] [ 25.21002155] 0.489872596175 0.878262470366

In [5]:
run outlier_removal_regression_alf2.py

[[ 5.07793064]] [ 25.21002155] 0.489872596175 0.878262470366
[[ 6.36859481]] 0.983189455396

In [15]:
run enron_outliers_alf2.py

[('SKILLING JEFFREY K', 1111258), ('LAY KENNETH L', 1072321), ('FREVERT MARK A', 1060932), ('PICKERING MARK R', 655037), ('WHALLEY LAWRENCE G', 510364), ('DERRICK JR. JAMES V', 492375), ('FASTOW ANDREW S', 440698), ('SHERRIFF JOHN R', 428780), ('RICE KENNETH D', 420636), ('CAUSEY RICHARD A', 415189), ('KEAN STEVEN J', 404338), ('HAEDICKE MARK E', 374125), ('MCMAHON JEFFREY', 370448), ('METTS MARK', 365788), ('DELAINEY DAVID W', 365163), ('MCCONNELL MICHAEL S', 365038), ('WALLS JR ROBERT H', 357091), ('MARTIN AMANDA K', 349487), ('LAVORATO JOHN J', 339288), ('BUY RICHARD B', 330546)]

In [20]:
run enron_outliers_alf2.py